*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  *:focus{
    outline: none;
  }
  
  .Login.body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('C:\Sistema\APP\public\background-image.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'roboto', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .box {
    width: 400px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.518);
    border-radius: 25px;
    height: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .heading{
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 50px;
    border-radius: 15px;
  }
  
  input,
  .submit{
    width: 80%;
    height: 35px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.363);
    border: none;
    color:black;
    padding: 15px;
    transition: 0.5s;
  }
  
  input::placeholder{
    color: rgb(0, 0, 0);
  
  }
  
  input:focus,
  .submit:hover{
    background: white;
    color:black;
  }
  input:focus::placeholder{
    color:black;
  }
  .submit{
    background-color: rgba(149, 149, 149, 0.452);
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    margin: 30px auto 0;
  }
  
  .link{
    background-color: rgba(149, 149, 149, 0.452);
    text-align: center;
    text-decoration: none;
    color: black;
    display: block;
    margin: 3px auto;
    padding: 5px;
    margin-top: 19px;
    width: 220px;
    height: 5vh;
    border-radius: 25px;
  }
  
  .link:hover{
    background-color: white;
  }